.ContainerCatalogo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    align-items: center;
}

.TituloCatalogo{
    color: #fff;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.ContentCatalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.BoxProduto{
    width: 300px;
    background: #1b1b1b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BoxProduto:hover{
    transform: translateY(-8px);
    box-shadow: 0px 16px 20px -3px rgba(48,60,192,0.61);
    -webkit-box-shadow: 0px 16px 20px -3px rgba(48,60,192,0.61);
    -moz-box-shadow: 0px 16px 20px -3px rgba(48,60,192,0.61);}

.ImgArea {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
}

.ImgProduto{
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.ImgProduto:hover{
    transform: scale(1.05);
}

.InfoArea {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.TituloProduto{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.PrecosProduto{
    display: flex;
    gap: 10px;
    align-items: center;
}

.PrecoAntigo{
    color: #777;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.PrecoNovo{
    color: #4956E6;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.BtnComprar{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #4956E6;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.BtnComprar:hover{
    background: #303cc0;
    transform: scale(1.02);
}
