.ContainerContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.TituloContato {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.BoxContato {
    display: flex;
    gap: 40px;
    background: #111;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.6);
    max-width: 900px;
    width: 100%;
    justify-content: center;
    color: #fff;
}

.FormContato {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.FormContato label {
    font-weight: bold;
    font-size: 16px;
}

.FormContato input,
.FormContato textarea {
    background: #1b1b1b;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    outline: none;
    font-size: 16px;
}

.FormContato textarea {
    height: 120px;
    resize: none;
}

.BtnEnviar {
    padding: 12px;
    background: #4956E6;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.BtnEnviar:hover {
    background: #313fc0;
    transform: scale(1.05);
}

.InfoContato {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.InfoContato h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Redes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Redes a {
    color: #4956E6;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.Redes a:hover {
    color: #7080ff;
    transform: scale(1.05);
}



label, p, h2{
    font-family: Arial, Helvetica, sans-serif;
}