.ContainerHome{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
.Titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.SaudacaoHome{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ImgEmpresa{
    width: 40px;
    height: 40px;
}

.ContentHome{
    width: 100%;
    height: auto;
    background: gold;
    padding: 10px;
}