.ContainerProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.BoxProduto{
    display: flex;
    gap: 40px;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.6);
}

.ImgProduto{
    width: 350px;
    border-radius: 15px;
}

.InfoProduto{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
}

.TituloProduto{
    font-size: 32px;
    margin-bottom: 10px;
}

.Descricao{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.Preco{
    color: #4956E6;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.BtnComprar{
    padding: 12px 20px;
    background: #4956E6;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.BtnComprar:hover{
    background: #313fc0;
    transform: scale(1.05);
}
