.ContainerCompra{
    padding: 40px;
    text-align: center;
}

.Titulo{
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
}

.BoxCompra{
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.6);
}

.ImgProduto{
    width: 280px;
    border-radius: 10px;
}

.InfoCompra{
    color: #fff;
    font-family: Arial;
    width: 350px;
    text-align: left;
}

.Preco{
    font-size: 26px;
    color: #4956E6;
    font-weight: bold;
    margin-bottom: 20px;
}

.Form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Form input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #2a2a2a;
    color: #fff;
    font-size: 16px;
}

.BtnFinalizar{
    padding: 12px;
    background: #4956E6;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.BtnFinalizar:hover{
    background: #313fc0;
    transform: scale(1.05);
}
