.Footer{
    display: flex;
    flex-direction:column;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #4956E6;
    background: linear-gradient(25deg, rgba(73, 86, 230, 1) 0%, rgba(18, 26, 89, 1) 100%);
    padding: 10px;
}
.ContentFooter{
    display: flex;
    flex-direction: column;
    background: #111;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding:  0px 20px 20px 20px;
    margin-bottom: 10px;
}
.BoxFooter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
}
.BoxFooterCriadores{
    display: flex;
    flex-direction:row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.DireitosFooter{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ImgEmpresa{
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.ImgEmpresa:hover{
    transform: scale(1.2);
}
.ImgPessoa{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.ImgIcone{
    width: 20px;
    height: 20px;
    padding: 5px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
}
.ImgIcone:hover{
    transform: scale(1.2);
    background: #4956E640;
    border-radius: 10px;
}
.CriadoresFooter{
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    background: #111;
    padding: 10px;
    border-radius: 20px;
}
.ImgIcone .CriadoresFooter:hover{
    background: #4956E640;
}
.RedesSociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: #4956E6 solid 2px;
    margin-top: 5px;
}