.Footer{
    display: flex;
    flex-direction:column;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #4956E6;
    background: linear-gradient(25deg, rgba(73, 86, 230, 1) 0%, rgba(18, 26, 89, 1) 100%);
    padding: 10px;
}

.BoxFooter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.DireitosFooter{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ImgEmpresa{
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.ImgEmpresa:hover{
    transform: scale(1.2);
}
.ImgPessoa{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.ImgIcone{
    width: 25px;
    height: 25px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.ImgIcone:hover{
    margin-bottom: 10px;
    background: #00000040;
    border-radius: 15px;
}